# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Local databases
*.db
*.sqlite3

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
